.signup {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 50px 100px;
    margin: auto;
}

.signup img {
    width: 250px;
    margin: auto;
    /* margin-bottom: 20px; */
}

.signup input {
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 12px;
    /* margin: 0 30px 15px 30px; */
    margin-bottom: 15px;
}

.signup input:focus {
    outline: 1px solid grey;
}

.signup button {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #0095f6;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
}
